body{
	background-color: #FAFAFA;
	padding:75px 60px 50px 60px;
}

.nav-bar{
	height: auto;
	padding: 0px;
	margin-bottom: 75px;
}
.navbar-toggler{
	border: none;
}
.bg-light{
	padding: 0px;
}
.navbar-nav{
	right: 10px;
}
.navbar-nav a{
	font-size: 13px;
	font-weight: 400;
	color: grey;
}
.alert-primary{
	padding: 5px 5px 5px 10px;
	font-size: 14px;
}
.alert-danger{
	font-size: 16px;
}

.aboutme{
	height: auto;
	padding: 0px;
	margin-bottom: 20px;
}
.aboutme2{
	height: auto;
	padding-right: 25px;
	margin-bottom: 20px;
}
.aboutme2 h1{
	font-size: 16px;
	margin-bottom: 20px;
	
}.aboutme2 p{
	font-size:12px;
	font-weight: 300;
	
}
.aboutme h1{
	font-size: 16px;
	margin-bottom: 20px;
}
.aboutme p{
	font-size:12px;
	font-weight: 300;
}

.alert-success p{
	color: black;
	font-size: 13px;
	margin: 0px;
}
.alert-danger p{
	color: black;
	font-size: 13px;
	margin: 0px;
}

.col-md-8{
	height: auto;
	padding: 0px;
}
.col-md-8 img{
	width: 100%;
}
.row2{
	height: auto;
	padding: 0px;
}
.row2 img{
	width: 100%;
}


/* footer section */
.citation{
	height: auto;
	margin-top: 20px;
}
.citation-list{
	text-align: right;
}
.citation li{
	list-style: none;
	font-size: 10px;
	text-align: right;
}

/* image overlay text */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #202020;
}
.col-md-8:hover .overlay {
  opacity: 0.80;
}

.text {
  color: white;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* pseudo classes */
a:link, a:visited, a:visited:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  color       : grey;
  text-decoration: none;
}

a:hover, a:visited:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  color       : #cd853f;
  text-decoration: none;
}
